*{
    margin: 0px;
    padding: 0px;
}


.b{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    /* border: 10px solid blue; */
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


.card{
    display: flex;
    width: 600px;
    height: 300px;
    /* border: 1px solid blue; */
    box-shadow: 2px 5px 50px black;
    border-radius: 10px;
}

.col-1>img{
    height: 300px;
    width: 300px;
    border-radius: 10px 0px 0px 10px;
}

.col-2{
    padding: 10px;
    position: relative;
}

#heading{
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#name,#date{
    font-size: 14px;
    color: grey;
}

#description{
    font-size: 16px;
    color: #444;
    margin-top: 10px;
}

#read{
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-decoration: none;
    color: rgb(17, 180, 235);
}
#read-btn{
    border: none;
    padding: 10px;
    background-color: transparent;
    color: rgb(17, 180, 235);
    cursor: pointer;
    font-size: 20px;
}



.card-2{
    /* position: relative; */
    width: 300px;
    height: 400px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background: linear-gradient(135deg, #ff9d6c, #ff6c8c);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

}

.card-2-header{
    font-size: 24px;
    font-weight: 900;
    padding: 15px;
}

.card-2-description{
    padding: 15px;
    text-align: justify;
}

.footer{
    display: flex;
    padding: 15px;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

/* rgba(red,green,blue,opacity) */

button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    color: orange;
}