/* .red{
    color: red;
}

.blue{
    color: blue;
}
.white{
    color: white;
}

.bg-red{
    background-color: red;
}
.bg-black{
    background-color: black;
}

.bg-white{
    background-color:white;
}

.p-10{
    padding: 10px;
}

.p-5{
    padding: 5px;
}

.p-0{
    padding: 0px;
}

.m-0{
    margin: 0px;
}

.m-5{
    margin: 5px;
}

.m-10{
    margin: 10px;
}

.border-straight{
    border-radius: 0px;
}

.round{
    border-radius: 5px;
}

.rounder{
    border-radius: 10px;
}

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.f-20{
    font-size: 20px;
}

.f-10{
    font-size: 10px;
}

.f-50{
    font-size: 50px;
} */

